<%= form_with model: [:admin, @test, @question, @answer], local: true do | form | %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
     <b> boolean </b> <br>
    <%= form.radio_button :correct, 'true' %> true <br />
    <%= form.radio_button :correct, 'false' %> false <br />
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :anwer_body %>
  </p>

  <p> <%= form.submit %> </p>
<% end %>
